@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.botton-home-screen {
  font-family: 'Luckiest Guy', cursive;
  padding: 1rem 1.25rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #FF69B4;
  text-transform: uppercase;
  background-color:#FF1493;
  border: none;
  border-radius: .75rem;
  color: #fff;
}

.botton-home-screen:hover {
  background-color: #FF69B4;
  box-shadow: 2px 2px 0px 1px #FF69B4;
}
